name: Build Release

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        include:
          - runner: macos-latest
            goos: darwin
            goarch: amd64
          - runner: macos-latest
            goos: darwin
            goarch: arm64
          - runner: ubuntu-latest
            goos: linux
            goarch: amd64
            env: CGO_ENABLED=0
          - runner: ubuntu-latest
            goos: linux
            goarch: arm64
            env: CGO_ENABLED=0
          - runner: windows-latest
            goos: windows
            goarch: amd64
            env: CGO_ENABLED=0

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: ${{ matrix.env.CGO_ENABLED }}
        run: |
          go build -o dist/nporadio-visualradio-stream-grabber-${{ matrix.goos }}-${{ matrix.goarch }} cmd/grabber/main.go

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}